.no-records {
  background-color: #ffffff;
  height: calc(100vh - 92px);
}

.no-records__container {
  padding: 2rem 0;
}

.no-records__title {
  color: #c1c1c1;
  text-align: center;
  text-transform: uppercase;
  padding: 0 1rem;
}

.no-records__icon {
  display: block;
  margin: 3rem auto;
}

.no-records__btn {
  margin: 0 auto;
}

@media (min-width: 1400px) {
  .no-records {
    height: calc(100vh - 112px);
  }
}