$height-appbar: 60px;
$height-appbar-large: 80px;
$color-primary: #FC7B27;
$color-primary-hover: #e77325;
$color-primary-variant: #FCA440;
$color-primary-variant-hover: #faab52;
$color-on-primary: #ffffff;
$color-secondary: #3A4145;
$color-secondary-hover: #555e63;
$color-wrapper: rgba(0, 0, 0, 0.2);
$border-on-secondary: 1px solid #cecece;
